{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <h2>New app</h2>
</div>

<form action="" method="post" novalidate {{ form_enctype(form) }}>
    <div class="clearfix {{ (0 < form_errors(form.name)|length)? 'error':'' }}">
        {{ form_label(form.name) }}
        <div class="input">
            <div class="input-append">
                {{ form_widget(form.name) }}
                <span class="add-on">.cloudapp.net</span>
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="actions">
        <input type="submit" value="{{ 'Create'|trans }}" class="btn primary">
    </div>
</form>

{% endblock %}